.popup__form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.popup__error {
  position: absolute;
  width: max-content;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  color: #ff0000;
  font-size: 14px;
  text-align: center;
  margin: 0;
}
